
/* Zentrierung der Menütexte (TOP, MUSIC usw.) */
.menu-horizontal-dropdown {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0;
  margin: 0;
  list-style: none;
}

/* NAVBAR – Standardzustand */

.cont_navbar {  
  position: relative;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: rgba(255, 255, 255, .479); 
}


.menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  height: 71px;
  font-family: Lato;
  font-size: 15pt;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
}

.menu-link:hover {
  font-weight: 600;
}


/* NAVBAR – oben fixiert */
.cont_navbar.sticky-active {  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
}

.cont_navbar.sticky-active .menu-link {
  color: white;
  font-weight: 400;
}

.cont_navbar.sticky-active .menu-link:hover {
  color: white;
  font-weight: 600;
}


.menu-toggle {
  display: none; /* Desktop: nicht anzeigen */
}