
html, body {
    height: 100%;
    margin: 0;
    /* background-color: red; */
}

.page-wrapper { /* Neuer Wrapper, der das horizontale Scrollen verhindert */
    overflow-x: hidden;
}

video {
  display: inline-block;
  vertical-align: baseline
}


/* große Überschrift */
.heading-big {
  font-family: Lato;
  font-size: clamp(32px, 6vw, 57pt);
  font-weight: 700;
  color: #fff;
}

/* große Überschrift leicht */
.heading-big-light {
  font-family: Lato;
  font-size: clamp(32px, 6vw, 57pt);
  font-weight: 300;
  color: #fff;
}

/* mittlere Textzeilen */
.heading-medium {
  font-family: Lato;
  font-size: clamp(18px, 3vw, 27pt);
  font-weight: 200;
  color: #fff;
}


.block-1 {
	justify-content: center;
  min-height: 100vh;
  z-index: 1;
  margin-bottom: -50vh;
  	  position: relative;  
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;  
  overflow: hidden;
}

.cont_unscharf {
  position: relative;  
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;  
  overflow: hidden;
  z-index: 2;
  min-height: 50vh;
  flex-direction: column;
  justify-content: flex-start;
}


.text_oben  {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* Gemeinsame Hintergrund-Einstellungen */
.block-2,
.block-3,
.block-4,
.banner-rosso,
.banner-arancio,
.block-7,
.block-8 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Gemeinsames Layout für Block 2–4 + Banner */
.block-2,
.block-3,
.block-4,
.banner-rosso,
.banner-arancio {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative;
  margin-top: 0;
  border: 0;
}

/* Spezielle Varianten */

.banner-arancio {
  border-top: 1px solid white;
}

.block-3 {
  min-height: 947px;
  z-index: 5;
  padding-left: 16px;
  padding-right: 16px;
}

.block-4 {
  min-height: 862px;
  z-index: 8;
  padding: 16px;
}

/* Block 6 hat komplett anderes Layout, bleibt separat */
.block-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  min-height: 891px;
  z-index: 14;
  margin-top: -10px;
  background: none;
}

/* Block 7 & 8 – eigene Höhen, nur Hintergrund oben geerbt */
.block-7 {
  width: 100%;
  height: 265px;
}

.block-8 {
  width: 100%;
  height: 150px;
}

.par {
  padding-left: 60px;
}

.tour {
  font-size: clamp(65px, 6vw, 90px);
}

.tour_streife,
.tour_streife_b,
.tour_streife_mitte {
  font-size: clamp(19px, 3.2vw, 25px);
}


.tour {
  text-align: center;
  color: black;
  /* font-size: 90px; */
  justify-content: center;
  align-items: center;
  font-family: "Carter One", system-ui;
  margin-bottom: 20px;
  transform: rotate(-1deg);
}


/* Container der Tour-Streifen */
.tour-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  margin-bottom: 20px;
}

/* Einzelne Streifen */
.tour_streife,
.tour_streife a,
.tour_streife_b {
  background-color: black;
  color: white !important;
  /* font-size: 25px; */
  padding: 10px 25px;
  margin: 10px;
  font-family: "Carter One", system-ui;
  box-shadow: 9px 9px 0 #54ffb8;
}


.tr_cont {
  display: flex;
  flex-direction: row;
  align-items: center;      /* vertikal mittig */
  justify-content: center;  /* optional: horizontal mittig */
  gap: 20px;                /* Abstand zwischen Mitte & Button */
  flex-wrap: wrap;          /* falls Handy: untereinander */
}

.tour_streife_b:hover {
  color: #D9D5D4 !important;
  transform: translate(3px, 3px);
  box-shadow: 6px 6px 0 #54ffb8;
}


.tour_streife_mitte {
  color: black;
  /* font-size: 25px; */
  padding: 10px 25px;
  margin: 30px;
  /* margin-left: 30px; */
  /* margin-right: 30px; */
  font-family: "Carter One", system-ui;
  border-radius: 2px;
}



.logo {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.email {
  font-family: "Kanit", sans-serif;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 310px;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  border: 3px solid white;
}


.text_1 {
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 15px;
  width: 120px;
  height: 20px;
}


/* Reset & Hilfsregeln */
ol, ul {
  padding-left: 0rem !important;
}

ul {
  margin-bottom: 0 !important;
}

